{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menus</title>
    {% comment %} <link rel="icon" href="assets/img/spork-negative.jpg"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/menu.css'%}">
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    {% include "header.html" %}
    <div class="menu">
    <p class="topic"><strong>Our Menu's</strong></p>
        <p class="play">Play with your Food !!<span class="material-symbols-outlined" onclick="myFunction()" id="day">sunny</span></p>
        <br>
        <br>
        <h3 style="padding:10px;">BREAK  FAST !!</h3>
        <div style="padding:10px 0px 20px 0px;" class="content" >
            <div class="ui-card"><img src="{% static 'foodimage/download.jpg' %}" class="img2"><div class="title">Butter toast / Butter Slice <br><button>150/-</button></div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Vegetable Sandwich.jpg' %}" class="img2"><div class="title">Vegetable Sandwich <br><button>80/-</button></div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Poha.jpg' %}" class="img2"><div class="title">Poha <br><button>30/-</button></div></div>
        </div>
        
        <h3 style="padding:10px;">SOUP !!</h3>
        <div style="padding:10px 0px 20px 0px;" class="content">
            <div class="ui-card"><img src="{% static 'foodimage/Palak Cream Soup.jpg' %}" class="img2"><div class="title">Palak Cream Soup <br><button>250/-</button></div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Sweet Corn Soup.jpg'%}" class="img2"><div class="title">Sweet Corn Soup <br><button>250/-</button></div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Hot & Sour Soup.jpg' %}" class="img2"><div class="title">Hot & Sour Soup <br><button>250/-</button></div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Veg Soup  VegClear Soup.jpg' %}" class="img2"><div class="title">Veg. Soup / Veg. Clear Soup <br><button>250/-</button></div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Tomato Soup.jpg' %}" class="img2"><div class="title">Tomato Soup <br><button>250/-</button></div></div>
            <span></span><br>
            <span></span><br>
        </div>
        
        <h3 style="padding:10px;">COOL  COOL  SHAKE !!</h3>
        <div style="padding:10px 0px 20px 0px;" class="content">
            <div class="ui-card"><img src="{% static 'foodimage/Cold Coffee with Ice-Cream.jpg' %}" alt="" class="img2"><div class="title">Cold Coffee with Ice-Cream</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Strawberry Shake.jpg' %}" alt="" class="img2"><div class="title">Strawberry Shake</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Chocolate Shake.jpg' %}" alt="" class="img2"><div class="title">Chocolate Shake</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Mirinda Shake.jpg' %}" alt="" class="img2"><div class="title">Mirinda Shake</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Vanilla Shake.jpg' %}" alt="" class="img2"><div class="title">Vanilla Shake</div></div>
        </div>
        
        <h3 style="padding:10px;">KUCHH  THANDA  KUCH MEETHA !!</h3>
        <div style="padding:10px 0px 20px 0px;" class="content">
            <div class="ui-card"><img src="{% static 'foodimage/Mineral Water.jpg' %}" alt="" class="img2"><div class="title">Mineral Water (1 Ltr.)</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Cold Drinks.jpg' %}" alt="" class="img2"><div class="title">Cold Drinks (300 ml.)</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Kasata.jpg' %}" alt="" class="img2"><div class="title">Kasata</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Kesar Pista.jpg' %}" alt="" class="img2"><div class="title">Kesar Pista / Kaju Daakh (Cup)</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Butter Scotch.jpg' %}" alt="" class="img2"><div class="title">Butter Scotch</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Vanilla (Family Pack).jpg' %}" alt="" class="img2"><div class="title">Vanilla (Family Pack)</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Cone.jpg' %}" alt="" class="img2"><div class="title">Cone</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Mattaka Kulfee.jpg' %}" alt="" class="img2"><div class="title">Mattaka Kulfee</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Rasgulla.jpg' %}" alt="" class="img2"><div class="title">Rasgulla</div></div>
        </div>
        
        <h3 style="padding:10px;">TANDOOR SE !!</h3>
        <div style="padding:10px 0px 20px 0px;" class="content">
            <div class="ui-card"><img src="{% static 'foodimage/Tawa Roti.jpg' %}" alt="" class="img2"><div class="title">Tawa Roti</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Tandoori Roti.jpg' %}" alt="" class="img2"><div class="title">Tandoori Roti</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Butter Naan.jpg' %}" alt="" class="img2"><div class="title"></div>Butter Naan</div>
            <div class="ui-card"><img src="{% static 'foodimage/Lachcha Parantha.jpg' %}" alt="" class="img2"><div class="title">Lachcha Parantha</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Missi Roti.jpg' %}" alt="" class="img2"><div class="title">Missi Roti</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Stuffed Naan.jpg' %}" alt="" class="img2"><div class="title">Stuffed Naan</div></div>
        </div>
        
        <h3 style="padding:10px;">MAIN COURSE !!</h3>
        <div style="padding:10px 0px 20px 0px;" class="content">
            <div class="ui-card"><img src="{% static 'foodimage/Daal Tadka.jpg' %}" alt="" class="img2"><div class="title">Daal Tadka (Desi Ghee)</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Daal Makhani.jpg' %}" alt="" class="img2"><div class="title">Daal Makhani</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Chana Masala.jpg' %}" alt="" class="img2"><div class="title">Chana Masala</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Rajma Masala.jpg' %}" alt="" class="img2"><div class="title">Rajma Masala</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Shahi Paneer.jpg' %}" alt="" class="img2"><div class="title">Shahi Paneer</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Kadhi Pakoda.jpg' %}" alt="" class="img2"><div class="title">Kadhi Pakoda</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Stuffed Tomato.jpg' %}" alt="" class="img2"><div class="title">Stuffed Tomato</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Mix Veg..jpg' %}" alt="" class="img2"><div class="title">Mix Veg.</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Matar Paneer.jpg' %}" alt="" class="img2"><div class="title">Matar Paneer</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Butter Paneer Masala.jpg' %}" alt="" class="img2"><div class="title">Butter Paneer Masala</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Paneer Lababdar.jpg' %}" alt="" class="img2"><div class="title">Paneer Lababdar</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Soya Chaap Masala.jpg' %}" alt="" class="img2"><div class="title">Soya Chaap Masala</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Soya Tikka Masala.jpg' %}" alt="" class="img2"><div class="title">Soya Tikka Masala</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Paneer Makhana.jpg' %}" alt="" class="img2"><div class="title">Paneer Makhana</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Paneer Tikka Masala.jpg' %}" alt="" class="img2"><div class="title">Paneer Tikka Masala</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Panner Kali Mirch.jpg' %}" alt="" class="img2"><div class="title">Panner Kali Mirch</div></div>
            <div class="ui-card"><img src="{% static 'foodimage/Malai Kofta.jpg' %}" alt="" class="img2"><div class="title">Malai Kofta</div></div>
        </div>
    </div>
    <!-- <script>
        document.querySelector('#day').addEventListener('click',function(){
            let x = document.querySelector("body");
            if(x.background == "black"){
                document.body.style.backgroundColor = "red";
            }
        });
    </script> -->
    <script>
        function myFunction() {
           var element = document.body;
           element.classList.toggle("dark-mode");
        }
        </script>
</body>
</html>